asgiref==3.5.0
beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.4
Django==4.0.3
filelock==3.6.0
gunicorn==20.1.0
idna==3.3
mysql-client==0.0.1
mysqlclient==2.1.0
platformdirs==2.5.1
PyMySQL==1.0.2
pyobjc==8.5
pyobjc-core==8.5
pyobjc-framework-ContactsUI==8.5
pyobjc-framework-CoreAudio==8.5
pyobjc-framework-CoreAudioKit==8.5
pyobjc-framework-CoreBluetooth==8.5
pyobjc-framework-CoreData==8.5
pyobjc-framework-CoreHaptics==8.5
pyo